body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 12;
}

.container {
  padding: 2vw;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;

  background-color: #f2f2f2;
  flex-grow: 1;
  position: relative;
}

.search__input {
  padding: 13px 24px;
  border-radius: 100px;
  border: none;
  width: 100%;
  font-size: inherit;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.search__button {
  padding: 10px 28px;
  border-radius: 0 100px 100px 0;
  border: none;
  position: absolute;
  background-color: #f2f2f2;
  top: 5px;
  right: 2px;
}

.search__button:focus {
  outline: none;
}

.search__input:focus {
  outline: none;
  border: 2px solid #5f5f5f;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__basket {
  position: relative;
}

.header__cart-count {
  position: absolute;
  top: 4px;
  right: 3px;
  background-color: #0059A0;
  border-radius: 100px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}

.header__icons-item {
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.header__icons-item:hover {
  background-color: #e4e4e4;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.filter-bar {
  display: flex;
  gap: 10px;
  position: relative;
  margin-bottom: 100px;
}

.filter-bar::after {
  content: '';
  position: absolute;
  top: 75px;
  height: 1px;
  width: 100%;
  background-color: #d6d6d6;
}

.filter-bar__item {
  font-weight: 600;
  font-size: 12px;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
}

.filter-bar__item:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.filter-bar__arrow {
  transition: .2s;
}

.filter-bar__arrow--up {
  transform: scale(-1);
}

.drop-down {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  font-size: 14px;
}

label {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.products-list__img {
  max-width: 300px;
  width: 100%;
}

.product-list__title {
  margin-top: 35px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}

.product-list__type-name {
  margin: 2px 0 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #5f5f5f;
}

.product-list__current-price {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

.product-list__currency {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
}

.product-list__shopping {
  margin: 15px 0 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-list__shoppingCartIcon {
  padding: 10px;
  width: 44px;
  height: 44px;
  background-color: #0059A0;
  border-radius: 100px;
  cursor: pointer;
}

.product-list__shoppingCartIcon:hover {
  background-color: #034983;
}

.product-list__shoppingListIcon {
  padding: 10px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.product-list__shoppingListIcon:hover {
  background-color: #e4e4e4;
}

.product-list__varianten-title {
  margin: 16px 0 8px;
  font-size: 12px;
  color: #343434;
}

.product-list__variants {
  display: flex;
  gap: 6px;
}